<template>
    <div class="container">
        <section class="readable-text-box">
            <h1>Rusty Messaging System</h1>
            <form v-on:submit.prevent="gotoRoom" class="enter-room-form">
                <div>
                    <input 
                        v-model="roomKey" 
                        placeholder="Room name"
                        aria-label="Room key"
                    />
                    <a :href="link">
                        <button 
                            type="button"
                            :disabled="noRoomSelected"
                            aria-label="Goto Room"
                            ref="gotoButton"
                        >
                            goto
                        </button>
                    </a>
                </div>
            </form>
            <p>
                <em>Hint:</em> To get yourself familiar with the basics, <br />
                start by visiting the room <code>rusty-example</code> with password <code>secret-phrase</code>.
            </p>
        </section>
        <hr>
        <article class="introduction readable-text-box">
            <section>
                <h2><a id="how-does-it-work">How does it work?</a></h2>
                <p>
                    The <em>Rusty Messaging System</em> is an instant messenger. All messages are encrypted client-side, which means that the server does not know the message content (which includes author information).
                </p>
                <p>
                    Messaging is organized in <em>rooms</em>. You can enter one by typing its name — the <em>room-key</em> — in the box above and hit the button next to it.
                </p>
                <p>
                    Since messages are encrypted, you won't be able to read their contents, when entering a room. In the top right of the room page is a field to enter a <em>password</em>. 
                    This is used to decrypt messages in the room, as well as to encrypt messages sent by yourself in that room.
                    Be encouraged to play around with that field, to see when messages will be readable, but note that decryption is triggered not on entering a character, but when leaving the field.
                </p>
                <p>
                    In order to chat with a person or a group of persons, 
                    you need to agree with them — outside this application — on a <em>room-key</em> as well as a certain <em>password</em>. Make sure to use the same password to allow your peers to read your messages.
                    On the other hand, nothing will prevent you from using a different password. That way, multiple isolated conversations could happen in the same room. There is also nothing that prevents others to participate in your room. 
                    Rooms are public, your message contents are not.
                </p>
            </section>

            <section>
                <h2><a id="privacy-policy">Privacy policy</a></h2>
                <p>
                    No data is collected from you. No user tracking takes place.
                </p>
                <p>
                    Message contents and author information is only transferred and stored as encrypted blobs. The web server responsible for handling messages doesn't even log IP addresses.
                </p>
            </section>

            <section>
                <h2><a id="contact">Questions?</a></h2>
                <p>
                    Write me an <a href="mailto:post@simon-lenz.de">email</a> or leave an issue in the <a href="https://gitlab.com/koala7/rusty-messaging/-/issues">issue tracker</a>.
                </p>
                <p>
                    The project is open source. You can view the source code and participate <a href="https://gitlab.com/koala7/rusty-messaging">here</a>.
                </p>
            </section>

            <section>
                <h2><a id="technical-trivia">Technical trivia</a></h2>
                <p>
                    Intend of the project is mainly to learn new technologies. 
                </p>
                <p>
                    The server is written in <a href="https://www.rust-lang.org/">Rust</a> and communicates solely via <a href="https://gitlab.com/koala7/rusty-messaging#rmp-rusty-messaging-protocol">RMP</a>, a custom TCP based message protocol.
                    To let this web client talk with the server, a HTTP↔RMP gateway was necessary. For this I built a very simple HTTP server from scratch, also in Rust.
                    The web client itself uses the Vue.js framework in version 3 and the <a href="https://crypto.stanford.edu/sjcl/">sjcl</a> cryptography library.
                </p>
                <p>
                    After years of mostly web based development, it is quite an experience to work with things like non-HTTP based communication or a programming language which makes you think in bits & bytes. I encourage everyone, once now and then, to write something completely different from your daily work.
                </p>
            </section>
            <p>
                Regards,<br /><br />
                Simon
            </p>
        </article>
    </div>
</template>

<script>
import { computed, ref } from 'vue';

export default {
    setup() {
        const gotoButton = ref(null);
        const roomKey = ref("");

        return {
            roomKey,
            link: computed(() => `/room/${roomKey.value}`),
            noRoomSelected: computed(() => !roomKey.value),
            gotoButton,
            gotoRoom: () => gotoButton.value.click(),
        };
    },
};
</script>

<style scoped>
.container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-room-form {
    margin: 3em 0;
}

hr {
    margin: 3.5em 0;
    max-width: 34em;
    width: 50vw;
}

.introduction {
    text-align: left;
}

.readable-text-box {
    max-width: 45em;
    width: 70vw;
}
</style>